* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #d6e2f0;
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  max-width: 320px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: center;
}
img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}
h1 {
  color: #1f3251;
  font-weight: 700;
  margin: 20px 0 10px;
  font-size: 18px;
}
p {
  color: #7b879d;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
/* Responsive design */
@media (min-width: 1440px) {
  #container {
      max-width: 400px;
      padding: 30px;
  }

  h1 {
      font-size: 20px;
  }

  p {
      font-size: 16px;
  }
}